<!DOCTYPE html>
<head lang="en">
	<meta charset="UTF-8">
	 <meta name="referrer" content="no-referrer" />
	<title></title>
	<script type="text/javascript" src="https://cdn.shopify.com/s/assets/external/app.js"></script>
<script type="text/javascript">
ShopifyApp.init({
apiKey: '{{ SHOPIFY_APP_API_KEY }}',
shopOrigin: 'https://{{ user.myshopify_domain }}'
});
ShopifyApp.ready(function() {
ShopifyApp.Bar.initialize({
title: '{{ SHOPIFY_APP_NAME }}',
buttons: {}
});
});
</script>
	
</head>
<body>

the featured

{% load app_filters %}

<!--
We have donated ${{orders|filteriternum}} to charity

	hi {{user}}!
	{% with name="World" greeting="Hello" %}     



{% endwith %}
the size is {{ orders|length }}
{% with  greetings=5   counter=1 %} 
	<!ul>
        {% for order in orders %}
        <li>
            {{ order.id}}
            <ul>
			the total order are  {{ order.line_items|length }}
			</br>
			
			test {{ greetings|cut:9 }}
			
			
			
			
		
            </ul>
        </li>
        {% endfor %}
		
		{% endwith %}
    </ul>
-->
</body>
</html>